@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
color: #191919;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
}

.wrapper-grid { 
    height:100vh;
    display: grid;       
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

}

.btn-yellow {
    background-color:#f9d783;
    border: 1px solid #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover
    {
        background-color: #191919;
        border-color: #191919;
        color: #f0efe9;
    }
} 

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover
    {
        background-color: #FFFFFF;
        border-color: #191919;
        color: #191919;
    }
} 

.btn-transparent {
    background-color:transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover
    {
        background-color: #191919;
        border-color: #191919;
        color: #f0efe9;
    }
    
}

.section-title {
    padding-top:70px;
    padding-bottom:40px;

    @media (min-width:768px) {
        padding-top:120px;
        padding-bottom:90px;        
    }
   

    p {        
        color:#f94d1c;
        margin-bottom: 10px;

    }
    h2 {
        color: 191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
  
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lines, .background-lines-right, .backgroundline {
    display:none;
    @media (min-width:1400px) {
        display: block;
    }
}

header {
    background-color: #f0efe9;
    padding: 16px;
    
    .container{
        display:grid;
        align-items: center;
        
        grid-template-columns: 1fr auto;
        grid-template-areas:"logo bars";

    
     @media (min-width: 992px) {            
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo cib social"
                             "logo menu menu";         
        }


     .btn-menu-bars{
        grid-area:bars;
        border:none;
        font-size:25px;
        background-color: transparent;

        @media (min-width: 992px) {
            display:none;
        }
     }
    .logotype{
        grid-area:logo;
        margin-right: 70px;
    }
    .contactinformation-bar{
        grid-area:cib;
        display:none;
        justify-content: flex-start;
        align-items: center;       
      
        @media (min-width: 1200px) {
            display:flex;
        }
    }
    .content-box{
        margin-right: 30px;
        border-right: 1px solid #666666;
        padding-right: 30px;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 300;
        i{
            margin-right:5px;
            font-size:1.2em;
            color: #666666;
        }
        &.last
        {
            border:none;
            
        }
    }
    .socialmedia-bar{
        grid-area:social;
        display:none;
        
        @media (min-width: 992px) {
            display:block;
        }
         a, a:visited{
                color: #191919;                
                font-size: 1.3rem;
                margin-left: 10px;
                text-decoration: none;
                &:hover{
                    color:#939090;
                }
            }
        
    }
    .menu{
        grid-area:menu;        
        display:none;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #dad9d3;
        padding-top:10px;
        margin-top:10px;

        @media (min-width: 992px) {
            display:flex;
        }

        nav{
            a {
            color:#191919;
            text-decoration: none;
            margin-right: 35px;
            font-size: medium;
            position: relative;

            &.active{
                font-weight: 500;
            }

            &.active::after,
            &:hover::after{
                content: "";
                position: absolute;
                font-weight: 500;
                height: 2px;
                width: 15px;
                background-color: #191919;
                left:50%;
                bottom: -3px;                            
                transform: translate(calc(50% - 15px));
            }

            }
        }
        .btn-login{
            padding-top: 12px;
            padding-bottom: 12px;
        } 

    }
    }

}

.showcase {
        background-color: #f0efe9;
        position: relative;
        z-index: 0;
        .backgroundline {
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: -1;
        }
        
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .content {
                padding-top:40px;
                padding-bottom:40px;
                text-align: center;
    
                @media (min-width:1200px) {
                    text-align: left;
                }
                h1{
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 40px;
    
                    @media (min-width:768px) {
                        font-size: 70px;
                    }
                    @media (min-width:1400px) {
                        font-size: 86px;
                    }
                }
                p{
                    font-size: 16px;
                    padding-top: 35px;
                    padding-bottom: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
    
                    @media (min-width:768px) {
                        font-size: 20px;
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
                a{
                    margin-right: 0px;               
                    display:block;
                    margin-bottom: 20px;
                    
                    @media (min-width:768px) {
                        margin-right: 10px;  
                        display:inline-block;
                        margin-bottom:0;
                    }
                }
            }
    
            img {
                display:none;
                margin-right: -50px;
    
                @media (min-width:1200px) {
                    display:block;
                }
            }
        }
}

.logos {
    .brands{
    display: block;
    
    @media (min-width:500px) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;             
        padding: 5px 10px;
    }
    @media (min-width:1500px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 72px 150px;  
    }      
        .brand{
            margin: 6px;
            border-top: 1px solid transparent;
            justify-content: center;
            align-items: center;
            &:hover{
                box-shadow:0 0 1px 1px #79797a;
            }
        }
    }
}
.dots {
    padding-top: 10px;
    text-align: center;
    
    a {
        color: #b5b4b2;
        text-decoration: none;
        font-weight: bold;
        font-size: 70px;
        &.active {
            color: #282525;
        }
    }
    
  
}

.features-about-company { 
    .features-about{
        padding:0 5px;

        @media (min-width:1400px) {
            padding:0 100px;
        }
    .features {
        display: grid;
        padding: 0px;
        border: none;
        
        
        @media (min-width:1400px) {
            border:3px solid #e1dede;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 100px;
            padding-right: 140px;
            padding-bottom: 100px;
        }
    
        
        .features-accounting {
            display: block;
            @media (min-width:765px) {
            display:flex;
            justify-content: space-evenly;
            padding-top: 25px;
            padding-left: 0;
            }
            @media (min-width:1400px) {
                display: block;
                align-items: center;
                padding-left: 100px;
            }
       
            p {
                display: none;
                

                @media (min-width:1400px) {
                    display: block;
                    
                    size: 18px;
                    font-weight: 500;
                    
                }
                
            }
            h2 {    
                    font-size: 25px;
                    padding: 5px;
                    align-items: start;
                    @media (min-width:1400px) {
                        align-items: center;
                        font-size: 45px;
                        font-weight: bold;
                        padding-right: 100px;
                        padding-bottom: 50px;
                    }
                }
            }
            a {
                display: flex;
                justify-self: end;
                align-items: end;
                padding-left: 5px;
                
                @media (min-width:1400px) {
                    display: flex;
                    justify-content: center;
                    width: 60%;
                    color: rgb(14, 14, 14);
                    padding-left: 50px;
                }
                &:hover {
                    color: white;
                }
            } 
        }
      
        .features-advice {
            display:grid;
            background-color: #fafaf9(12, 14%, 93%);
            grid-template-columns: 1fr;
            padding-right: 0px;
            padding-top: 0px;
            gap: 0px;
           
            @media (min-width:1400px) {
                grid-template-columns: 1fr 1fr;
                padding-top: 50px;
                justify-items: start;
                gap: 60px;
            }

            .advice {  
                i {           
                    padding-top: 30px;
                    padding-bottom: 30px;
                    align-content: start;
                    justify-content: start;
                }
                
                h4 {
                    font-weight: bold;
                    font-size: 22px;
                    align-self: center;
                    justify-self: start;
                    padding-bottom: 10px;
                }
                
                p {
                    font-size: 16px;
                    color: #838080;
                }
                
            }
        }
    }  

    .about {
        display: block;
        gap: 0px;
        @media (min-width:768px) {
            display: flex;
            gap: 0px;
        }
        @media (min-width:1400px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 199px;
        }
        

        .about-samantha {            
            display: block;
            @media (min-width:1400px) {
                display: flex;
                position: relative;
            }
            .box{
                display: none;

                @media (min-width:1400px) {
                display: block;
                z-index: 1;
                position: absolute;
                bottom: 40px;
                left: 145px; 
                }             

                .samantha-intro{
                    display: block;
                    padding-top: 30px;
                    padding-left: 30px;
                    width: 184px;
                    height: 80px;
                    background-color: #df310e;
                    
                    @media (min-width:1400px){
                        display: block;
                        padding-top: 30px;
                        padding-left: 30px;
                        width: 368px;
                        height: 180px;
                        background-color: #BEEBFF;
                    }
                    
                    p {
                        color: #191919;
                    }
                    .sam {
                        font-weight: bold;
                    }
                    span {
                        font-weight: bold;
                        color: #f94d1c;
                    }
                }
            }
            
            img {
                width: 60%;
                height: auto;
                @media (min-width:756px) {
                    padding-left: 0px;
                    justify-content: center;
                    height: 350px;
                    width: 350px;
                }
                @media (min-width:1400px) {
                    padding-left: 200px;
                    justify-content: end;
                    height: 100%;
                    width: 100%;
                    
                }
            }
            .samantha-intro2 {
                background-color: #BEEBFF;
                display: block;
                width: 50%;
                border-radius: 25px; 
                padding: 5px;
                @media (min-width:756) {
                    display: block;
                    padding: 5px;
                    margin-right: 10px;
                }
               @media (min-width:1400px) {
                display: none;
               }
               p{
                color: #191919;
               }
               span {
                font-weight: bold;
                color: #f94d1c;
               }
               .sam {
                font-weight: bold;
               }
                
            }
        }
        
        .about-company {
            display: flex;
            flex-wrap: wrap;
            padding-left: 15px;
            padding-right: 0px;
            @media (min-width:1400px) {
            display: flex;
            padding-right: 100px;
            flex-direction: column;
            justify-content: space-evenly;
                
            }

          
            h4{
                font-size: 24px;
                font-weight: bold;
                span{
                    font-size: 14px;
                    font-weight: 800;
                    color: #f94d1c;
                    display: block;
                    padding-bottom: 30px;
                }
                @media (min-width:1400px) {
                    font-size: 45px;
                    font-weight: bold;
                    
                }
            }
            p {
                padding-bottom: 40px;
                color: #191919;
                
            }
            
            .btn-black {
                display: inline-flex;
                font-weight: 200;
                font-size: 16px;
                width: 35%;
                text-align: center;          
                align-self: start;
                justify-content: center;
               
                i {
                    align-self: center;
                     
                }
            }
            .btn-transparent {
                position: relative;
                display: inline-flex;
                width: 35%;
                text-align: center;
                align-self: start;
                justify-content: center;
                margin-left: 40px;
                border: none;
                &:hover {
                    i {
                        border: 1px solid transparent;
                    }
                }
                
                i {
                    font-size: 10px;
                    align-self: center;
                    justify-self: start;
                    position:absolute;
                    left:-20px;
                    border-radius: 25px;
                    border: 1px solid black;
                    padding: 18px;
                    &:hover {
                        border: 1px solid transparent;
                    }
                }
               
            }
       
        }
                
    }
    
}

.our-services {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
  padding-bottom: 150px;
    .title {
    @media (min-width:1500px) {
        padding-left: 200px;
    }
    .section-title {
            h3 {
                font-size: 35px;
                @media (min-width:1500px) { 
                    font-weight: 700;
                    font-size: 45px;
                }
            }
        }
   }
   .flex-box {
    display: block;
    @media (min-width:756px) {
    display: flex;
    justify-content: center;
    gap:5px;
    }
    @media (min-width:1500px) {
        gap: 30px;
        display: flex;
    }
    .flex-services{
        background-color:#ffffff;
        display: block;
        @media (min-width:756px) {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 30%;
        padding-left: 0;
        }
        @media (min-width:1400px) {
            max-width: 308px;
            height: 333px;
            padding-left: 30px;
        }

        h6 {
            display: none;
            @media (min-width:1400px) {
                font-size: 30px;
                display: flex;
                justify-content: start;
                padding-bottom: 40px;
            }
            
        }
        h5 {
            font-weight: 700;
            padding-bottom: 10px;
        }
        p {
            color: #838080;
        }

        .btn-black{
            display: flex;
            width: 20px;
            height: 20px;
            align-self: end;
            justify-content: center;
            margin-right: 10px;
            border-radius: 25px;
            padding: 18px;
            i {
                align-self: center;
                justify-self: start;
                font-size: 20px;
                font-weight: 300;
                padding-right: 5px;
            }
        }
        &:hover {
            background-color: #f9d783;
        }
        
    }
   }
   .center-content {
     padding-top: 48px;
        .btn-transparent {
            display: flex;
            justify-self: center;
            align-items: center;
        }
   }
 .lines {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    }
}

.why-choose-us {
    position: relative;
    padding-left: 5px;
    @media (min-width:1400px) {
        justify-content: start;
        padding-left: 0px;
    }
    .section-title {
        display: flex;
        padding: 0px 10px;
        
        @media (min-width:1500px) {
            padding: 10px 180px;
            display:flex;
        }
        p {
            font-weight: 500;
        }
        h3 {
            font-size: 25px;
            width: 100%;
            font-weight: bold;
            
            @media (min-width:1400px) {
            font-size: 45px;
            width: 447px;
            font-weight: bold;
            }
            
        }
        .flex-box{
            display: block;
            margin-top: 0px;
            @media (min-width:1400px) {
                width: 300px;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
            }
            .why {
                display: flex;
                flex-direction: column;
                gap: 0px;
                @media (min-width:1500px) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .flex-why {
                    margin-top: 0px;
                    width: 100%;
                    height: 100%;
                    @media (min-width:1500px) {
                        margin-top: 48px;
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        width: 420px;
                        height: 60px;
                    }
                    i {
                        border: 2px solid #dad9d3;
                        padding: 7px;
                        border-radius: 25px;
                        font-size: 30px;
                        margin-right: 15px;
                        align-self: center;
                    }
                    p {
                        font-size: 16px;
                        color:#939090;
                     
                    }
                    span {
                        font-weight: bold;
                        font-size: 22px;
                        color: #191919;
                    }
                  
                }
            }
        }
        
        img {
            width: 50%;
            height: 50%;
            display: flex;
            align-self: center;
            @media (min-width:1400px) {
            width: 645px;
            height: 505px;
            position: absolute;
            display: block;
            z-index: 1;
            top: 80px;
            right: 200px;
            }
        }
        .bg-box {
            display: none;
            @media (min-width:1500px) {
            display: block;
            position: absolute;
            right:0px;
            top:270px;
            z-index: -1;
            background-color:#F0EFE9;
            width: 955px;
            height: 425px; 
            }   
        }  
    }
   
}

.project-and-case {
    .container {        
        .section-title {
            text-align: center;
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width:768px) {
                grid-template-columns: 1fr 1fr;

            }

            .project {
                display: grid;       
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color:#191919;
                text-decoration: none;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #dad9d3;

                }

                .readmore {
                    padding: 15px;                    
                    display: block;
                    text-align: right;
                    text-decoration: none;
                    color: black;
                    font-size: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;

                    i {
                        margin-left: 3px;
                    }
                }
              
                &:hover .readmore {
                    text-decoration: underline;
                }
            }
            
        }
        .center-content{
            margin-top: 50px;
            margin-bottom: 90px;
        }

    }

}

.team-testimonial {
    background-color:#EDCF87;
    padding-bottom: 120px;
    
    .meet-our-team {
        @media (min-width:1400px) {
            padding: 100px 300px;
        }
        

        .section-title {
            display: block;
            flex-direction: row;
            justify-content: space-between;
            
            @media (min-width:756px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
            }

            p {
                font-weight: 500;
                size: 18px;
                
            }
            h3 {
                font-size: 45px;
                font-weight: 700;
            }
            .btn-yellow {
                    display:inline;
                    height: 10%;
                    font-size: 16px;
                    border:1px solid #191919;
                    justify-self: center;
                    text-align: center;
                    @media (min-width:1400px) {
                        display: flex;
                        height: 50px;
                        justify-self: center;
                        align-self: end;
                        text-align: center;
                    }
                   
                   
                    i {
                        padding-top: 5px;
                        padding-left: 10px;
                    }
            }
        }

        .team-profiles {
            display: flex;
            justify-content: center;
            .team-profile {
                padding: 0 10px;

                p {
                  font-weight: 400;
                  color: #545454;
                }
                h6 {
                    font-size: 22px;
                    font-family: 'DM Sans', sans-serif;
                    font-weight:800;
                    padding-top: 28px;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .dots {
            padding-top: 10px;
            text-align: center;
            
            a {
                color: #bea668;
                text-decoration: none;
                font-weight: bold;
                font-size: 70px;
                &.active {
                    color: #282525;
                }
            }
            
          
        }
    }
    

    .testimonial {
        background-color: rgb(244, 244, 244);
        text-align:center;
        .section-title {
            padding-top: 100px;
            text-align: center;
            p {
                font-size: 18px;
                font-weight: 500;                
            }
            h3 {
              font-size: 45px;
              font-weight: 800;
              font-family: 'DM Sans', sans-serif;
            }
            
        }
        .clients {
            padding: 10px 10px;
            @media (min-width:1400px) {
                padding: 10px 100px;
            }
            .client {
                @media (min-width:1200px) {
                    padding-left: 80px;
                    display: inline-flex;
                    flex-direction: column;
                    width: 33%;
                }
                
                .stars {
                    display: flex;
                    font-size: 10px;
                    padding-bottom: 30px;
                    gap: 5px;
                }
                p {
                    text-align: start;
                }
                .client-intro {
                    display: flex;
                    p {
                        align-self: center;
                        justify-self: center;
                        text-align: start;
                        font-weight: 700;
                        span {
                            color: #df310e;
                            font-weight: 400;
                        }
                    }
                    
                    img {
                        display: flex;
                        align-self: start;
                        padding-right:10px;
                        
                    }
                }
            }

        }

        
        
        .center-content {
            padding-top: 40px;
            padding-bottom: 120px;

            a {
                font-weight: 300;
                font-size: 16px;
            }
            i {
                font-size: 12px;
            }
        }
        
    }
    
}

.article-news{
    .container {
        padding-bottom: 170px;
        .section-title {
            display: block;
            @media (min-width:1400px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 160px;
            padding-bottom: 40px;
            padding-left: 80px;
            padding-right: 80px;
            }
            
            p {
               font-size: 18px;
               font-weight: 500;
            }
            h3 {
                font-size: 25px;
                @media (min-width:1200px) {
                    font-size: 45px;
                font-weight: 700;
                }
            }
            .btn-transparent {
               display: block;
               width: auto;
                @media (min-width:1200px) { 
                    display: inline-block;
                    font-size: 16px;
                    border:1px solid #191919;
                    height: 50px;
                    justify-self: center;
                    align-self: center;
                    text-align: center;
                }
               
                i {
                    padding-top: 5px;
                    padding-left: 10px;
                }
                
        }
        }  
        .news-container {
           display: block;
           gap: 0px;
            @media (min-width:1200px) {
                display: flex;
                justify-content:center;
                gap: 30px;
    
            }
            
            .news {
                width: auto;
                z-index: 0;
                position: relative; 
                @media (min-width:1400px) {
                width: 360px;
                }
                
                .news-date {
                    width: 56px;
                    height: auto;
                    background-color: #F8D682;
                    color: #191919;
                    z-index: 1;
                    position: absolute;
                    left: 15px;
                    top: 15px;
                    display: flex;
                    flex-direction: column;

                    p {
                        display: flex;
                        justify-self: center;
                        justify-content: center;
                        margin-bottom: 0px;
                        padding-top: 10px;
                        font-weight: 700;
                        
                        span {
                            margin-top: -10px;
                            margin-bottom: 10px;
                            font-weight: 400;
                        }
                    }
                    
                }
                
                img {
                    display: flex;
                    width: 100%;
                    height: auto;
                    @media (min-width:1400px) {
                    width: 360px;
                    height: 177px;
                    }
                    
                }
                p {
                    color: #545454;
                }
                h3 {
                    font-weight: 700;
                    font-size: 22px;
                    font-family: 'DM Sans', sans-serif;
                }
            }
        }
    }
}

.sign-newsletter {
    position: relative;
    background-color: #F0EFE9;
    padding: 0px;
    display: block;
    

    @media (min-width:1600px) {
        position: relative;
        background-color: #F0EFE9;
        padding: 100px;
    }
    @media (min-width:1700px) {
        padding: 100px 280px;
    }

    .background-lines-right {
       display: none;
       
        
        @media (min-width:1600px) {
            display: block;
            position: absolute;
            right: 0;
            bottom: 50px;
        
        }
    }
    .container {
        display: block;
        @media (min-width:1400px) {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;     
        }
        
        
        h2 {
            font-weight: 700;
            font-size: 25px;
            @media (min-width:756px) {
            align-self: center;
            font-weight: 700;
            font-size: 45px;
            font-family: 'DM Sans', sans-serif;
            }    
        }
        form {
            input {
                padding: 15px 30px;
                border-radius: 25px;
                text-decoration: none;
                font-size: 16px;
                outline: none;
                border: 1px solid rgb(25, 25, 25, 0.10);
                margin-right: 20px;
            }
        }
        .btn-yellow {
            display: block;
            width: 50%;              
            margin: 10px;
            
            @media (min-width:756px) {
            display: inline;
            width: 100%;
            padding: 15px 30px;
            }
        }
    }
   
}

footer {
    background-color: #0E1021;
    color: white;
    position: relative;
    padding-top: 50px;
    z-index: 0;
    .background-lines-right {
        position: absolute;
        right: 0;
        bottom: 85px;
        z-index: -1;
    }
    a {
        text-decoration: none;
        color:#b8b5b5;
        &:hover{
            text-decoration: underline;
            color: #fafaf9;
        }
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        @media (min-width:1400px) {
            justify-content: space-between;
            padding: 100px 0px;
            display: flex;
        }
        .logotype {
            display: flex;
            flex-direction: column;
            @media (min-width:1400px) {
                width: 20%;
                              
            }
            p {
                padding-top: 10px;
                color:#b8b5b5;
            }
            
        }
        .column {
            display: flex;
            flex-direction: column;
            
            h3 {
                padding:5px;
                @media (min-width:756px) {
                padding-bottom: 30px;
                }
            }
            a {
                padding: 5px;
                @media (min-width:756px) {
                    padding-bottom: 10px;
                    }
            }
        }
       
    }
  
    .socialmedia-bar {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #939090;
        padding: 10px 15px;
        @media (min-width:1400px) {
            padding: 30px 200px;
        }
        span {
            justify-self:start;
            color: #e1dede;
            font-size: 16px;
            font-weight: 400;
        }
        a {
            color: #e1dede;
            justify-self: end;
            padding-left: 20px;
           &:hover {
            color: #EDCF87;
           }
        }
        
    }
}

// contact.html main *//
.lets-connect {
    background-color: #f0efe9;
    display: block;
    position: relative;
    z-index: 0;
    @media (min-width:1400px) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    }
    
    .background-wavy-lines {
        display: none;
        @media (min-width:856px) {
            position: absolute;
            display: block;
            left: 0;
            top:-30px;
            z-index: -1;
        }
    }
    a {
        text-decoration: none;
        color: #0E1021;
        padding: 5px;
        &:hover {
            font-weight: 500;
            text-decoration: underline;
        }
    }

    h1 {
        padding-bottom: 100px;
        font-weight: 700;
    }

    
}

.contact {
    background-color: white;
    @media (min-width:1400px) {
        padding: 100px 0px;
    }

    .contactinformation {
        display:block;
        justify-content: space-between;
        @media (min-width:756px) {
            gap: 50px;
            display: flex;
        }
        .content-box {
            display: block;
            justify-content: center;
            
            z-index: 1;
            @media (min-width:756px) {
                flex-direction: row;
                align-items: center;
                display: flex;
                border: 1px solid black;
            }
            @media (min-width:1400px) {
                width: 350px;
                height: 200px;
            }

            div {
                text-align: start;
                h5 {
                }
                p {
                }
                
                }
                i {
                align-self: flex-start;
                justify-content: start;
                color: white;
                border: 15px solid black;
                border-radius: 25px;
                background-color: #0E1021;
                margin-right: 35px;
                margin-top: 55px;
            }
            
        }
    }
}

.leave-message {
    background-color: #F0EFE9;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    .section-title {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 0px;
        margin: 0px;
        h1 {
            padding-bottom: 10px;
            width: 30%;
        }
    }
    .user-contact-form {
        margin-top: 0px;
        margin-bottom: 70px;
        padding-bottom: 70px;
        
        display: block;
        .user-contact {
            display: block;
            width: 100%;
            border:1px solid #F0EFE9;
            border-radius: 25px;
            padding: 15px 30px;
            #user-message {
                padding: 80px 0px;
            }
        }
        .user-contact-form-submit {
            display: flex;
            align-items: center;
            justify-content: center;
            .btn-yellow {   
                width: 95%;
                padding: 15px 30px;
                margin-top: 30px;
            }
        }
        
    }
}

